<div class="dashboard-container">
    
    <div class="dashboard mt-5">
        <h2>Doctor's Dashboard</h2>    
    
    <div class="appointments">
      <h3>Doctor's Appointments 📅</h3>
      <ul>
        <li *ngFor="let availableAppointment of availableAppointments">
          <div class="appointment-details">
            <span class="date-time">
              📆 {{ availableAppointment.appointment_date }} - ⏰ {{ availableAppointment.appointment_time | slice:0:5 }}
            </span>
            <span class="patient-info">
              👤 
              <span *ngIf="availableAppointment.patient_id">
                Patient ID: {{ availableAppointment.patient_id }}
              </span>
              <span *ngIf="!availableAppointment.patient_id && availableAppointment.is_available === 1">
                Available
              </span>
              <span *ngIf="!availableAppointment.patient_id && availableAppointment.is_available === 0">
                Not Available
              </span>
            </span>
          </div>
        </li>
      </ul>
    </div> 

</div> 