body{
    background-color: #a0ceff;
  }
  
  
  h1 {
    padding-top: 50px;
    text-align: center;
    color: #0f4c8a; /* لون أزرق غامق */
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 600;
  }
  
  
    .register-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f9f9f9;
    }
    
    .input-icon {
      position: relative;
      margin-bottom: 15px;
    }
    
    .input-icon i {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #888;
    }
    
    .input-icon input {
      width: 100%;
      padding: 10px 10px 10px 40px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
    
    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
    
    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }